Options -Indexes

<IfModule mod_rewrite.c>

	RewriteEngine On
	RewriteBase /

	# Force to exclude the trailing slash
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} (.*)/$
	RewriteRule ^(.+)/$ $1 [R=307,L]

	# Restrict php files direct access
	RewriteCond %{THE_REQUEST} ^.+?\ [^?]+\.php[?\ ]
	RewriteRule \.php$ - [F]

	# Allow any files or directories that exist to be displayed directly
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule ^(.*)$ index.php?$1 [QSA,L]
        
	# Custom
	#RewriteRule ^/graph/([0-9]+)/([0-9]+)$ /index.php?page=graph&i_id=$1&p_id=$2
        #RewriteRule ^/graph/server/(.*)$ /index.php?page=graphserver&who=$1
        #RewriteRule ^/graph/host/(.*)$ /index.php?page=graphserver&who=$1

</IfModule>
